{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome · LKProfessionals</title>
    <link href="https://resume.io/app/manifest.json" rel="manifest">
    <link rel="icon" type="image/x-icon" href="{%static 'web/favicon.ico'%}" sizes="any">
    <link rel="stylesheet" media="all" href="{% static 'web/style.css'%}" data-critical="true">
    <script src="{% static 'web/landing.js'%}" defer="defer" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'web/98.css'%}">
  </head>
  <body>
    <header class="nav headroom headroom--not-bottom nav--pinned headroom--top"><div class="nav__content">
      <div class="nav__bar">
        <a class="nav__bar-logo-rio" href="{%url 'index'%}">
          <img src="{%static 'web/logo.png'%}" alt="">
        </a>
        <nav class="nav__bar-menu">
          <a class="nav__bar-link" href="{%url 'index'%}">Home</a>
          <a class="nav__bar-link" href="{%url 'about'%}">About</a>
          <a class="nav__bar-link" href="{%url 'pricing'%}">Pricing</a>
          <a class="nav__bar-link" href="{%url 'blog'%}">Blog</a>
          <a class="nav__bar-link" href="{%url 'faq'%}">FAQ</a>
          <a class="button"  href="{%url 'login'%}">Profile</a>
        </nav>
      </div>
    </header>




{%block content%} {%endblock content%}
  </body>
</html>