{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FOI App Landing Page</title>
    <link rel="stylesheet" href="{%static 'web/assets/vendors/fontawesome-free/css/all.min.css'%}">
    <link rel="stylesheet" href="{%static 'web/assets/css/style.css'%}">
</head>

<body>
    <header class="foi-header landing-header">
        <div class="container">
    <!-- header -->{%include 'web/_header.html'%}
            


    <main class="page-about">
        <!-- Main -->{% block content%}{% endblock content%}
    </main>


    <!-- Footer -->{% include 'web/_footer.html'%}

    <script src="{%static 'web/assets/vendors/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'web/assets/vendors/popper.js/popper.min.js'%}"></script>
    <script src="{%static 'web/assets/vendors/bootstrap/dist/js/bootstrap.min.js'%}"></script>
</body>

</html>