<aside class="w-64 h-full bg-gray-800 fixed">
    <div class="h-16 flex items-center justify-center bg-gray-900 text-white">
        <h2 class="text-xl font-semibold">Dashboard</h2>
    </div>
    <nav class="mt-5" x-data="{ openSection: '' }">
        <ul class="space-y-2">
            <!-- Personal Information Section -->
            <li>
                <a href="#" 
                   class="flex items-center p-2 text-gray-300 hover:bg-gray-700 hover:text-white"
                   @click.prevent="openSection = openSection === 'personal' ? '' : 'personal'">
                    <span class="ml-3">Personal Information</span>
                    <svg class="w-4 h-4 ml-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <ul x-show="openSection === 'personal'" class="ml-6 space-y-2" x-cloak>
                    <li>
                        <a href="{% url 'profile_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'contact_detail_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Contact Details</a>
                    </li>
                    <li>
                        <a href="{% url 'social_media_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Social Media</a>
                    </li>
                    <li>
                        <a href="{% url 'language_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Languages</a>
                    </li>
                </ul>
            </li>

            <!-- Career Section -->
            <li>
                <a href="#" 
                   class="flex items-center p-2 text-gray-300 hover:bg-gray-700 hover:text-white"
                   @click.prevent="openSection = openSection === 'career' ? '' : 'career'">
                    <span class="ml-3">Career</span>
                    <svg class="w-4 h-4 ml-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <ul x-show="openSection === 'career'" class="ml-6 space-y-2" x-cloak>
                    <li>
                        <a href="{% url 'experience_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Experience</a>
                    </li>
                    <li>
                        <a href="{% url 'career_break_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Career Break</a>
                    </li>
                    <li>
                        <a href="{% url 'organization_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Organizations</a>
                    </li>
                    <li>
                        <a href="{% url 'volunteer_experience_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Volunteer Experience</a>
                    </li>
                </ul>
            </li>

            <!-- Education & Skills Section -->
            <li>
                <a href="#" 
                   class="flex items-center p-2 text-gray-300 hover:bg-gray-700 hover:text-white"
                   @click.prevent="openSection = openSection === 'education' ? '' : 'education'">
                    <span class="ml-3">Education & Skills</span>
                    <svg class="w-4 h-4 ml-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <ul x-show="openSection === 'education'" class="ml-6 space-y-2" x-cloak>
                    <li>
                        <a href="{% url 'education_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Education</a>
                    </li>
                    <li>
                        <a href="{% url 'certification_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Certifications</a>
                    </li>
                    <li>
                        <a href="{% url 'test_score_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Test Scores</a>
                    </li>

                </ul>
            </li>

            <!-- Portfolio & Achievements Section -->
            <li>
                <a href="#" 
                   class="flex items-center p-2 text-gray-300 hover:bg-gray-700 hover:text-white"
                   @click.prevent="openSection = openSection === 'portfolio' ? '' : 'portfolio'">
                    <span class="ml-3">Portfolio & Achievements</span>
                    <svg class="w-4 h-4 ml-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <ul x-show="openSection === 'portfolio'" class="ml-6 space-y-2" x-cloak>
                    <li>
                        <a href="{% url 'project_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
                    </li>
                    <li>
                        <a href="{% url 'publication_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Publications</a>
                    </li>
                    <li>
                        <a href="{% url 'patent_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Patents</a>
                    </li>
                    <li>
                        <a href="{% url 'honor_award_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Honors & Awards</a>
                    </li>
                </ul>
            </li>

            <!-- Services & Recommendations Section -->
            <li>
                <a href="#" 
                   class="flex items-center p-2 text-gray-300 hover:bg-gray-700 hover:text-white"
                   @click.prevent="openSection = openSection === 'services' ? '' : 'services'">
                    <span class="ml-3">Services & Recommendations</span>
                    <svg class="w-4 h-4 ml-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </a>
                <ul x-show="openSection === 'services'" class="ml-6 space-y-2" x-cloak>
                    <li>
                        <a href="{% url 'service_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Services</a>
                    </li>
                    <li>
                        <a href="{% url 'recommendation_view' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white">Recommendations</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
